.align-center {
  text-align: center;
}

.intrinsic-wrapper {
  /*
    This element must maintain position: relative.
    The padding-bottom creates the proper ratio.
    Examples:
        4:3 = padding-bottom: 75%;
        16:9 = padding-bottom: 56.25%;
        (does not necessarily have to be "common ratios",
        it can be based off image dimensions of the design)
   */

  height: 0;
  /*padding-bottom: 75%; // if this is a global class, you do not want to define this property. Do it in another class, example .ratio--4x3 */
  position: relative;

}

.intrinsic-wrapper__element {
  /*
    This class needs no further customization,
    if this class is applied to the elemtent and is contained
    within .intrinsic > .intrinsic__wrapper > *current element*
    the element should scale in correct perspective
   */

  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@include generateRatios(16, 9);

.animated[data-animated^='fade'] {
  opacity: 0;
}

.is-hidden {
  display: none;
}

%pos-vert-center {
  top: 50%;
  transform: translateY(-50%);
}
