.hang {
  margin: 0 auto;
  margin-left: $gutter;
  margin-right: $gutter;
  max-width: ($column-width * 2) + ($gutter * 2);

  figure,
  aside {
    max-width: $column-width / 2;
  }
}

.hang--left {
  float: left;
}

.hang--right {
  float: right;
}
