<%_ include _includes/typogr _%>
<!doctype html>
<html lang="en">
  <%_ include _includes/head _%>
  <body>
    <%_ include _includes/header _%>
    <main>
      <%- typogr.typogrify(yield) %>
    </main>
    <%_ include _includes/footer _%>
    <%_ include _includes/scripts _%>
    <%_ include _includes/analytics _%>
  </body>
</html>
