<!doctype html>
<html lang="en">
  <% include _includes/head %>
  <body>
    <% include _includes/header %>
    <main role="main">
      <%- yield %>
    </main>
    <% include _includes/scripts %>
    <% include _includes/analytics %>
  </body>
</html>
