<% include _includes/typogr %>
<!doctype html>
<html lang="en">
  <% include _includes/head %>
  <body>
    <% include _includes/header %>
    <main>
      <%- typogr.typogrify(yield) %>
    </main>
    <% include _includes/footer %>
    <% include _includes/scripts %>
    <% include _includes/analytics %>
  </body>
</html>
