<article class="article" itemscope itemtype="http://schema.org/NewsArticle">
  <header class="article--header">
    <div class="article--intro">
      <h1 class="align-center"><%- title %></h1>
      <p class="dek" itemprop="description">A research and scientific development company that belongs to Alcatel-Lucent.</p>
      <p class="byline">By <span itemprop="author">Wikipedia</span></p>
    </div>
    <video class="media--video-bg" autoplay loop >
      <source src="video/WEBM/Ideas.webm" type="video/webm" />
      <source src="video/MP4/Ideas.mp4" type="video/mp4" />
      I'm sorry; your browser doesn't support HTML5 video.
    </video>
  </header>
  <div class="article--body" itemprop="articleBody">
    <section class="section is-first">
      <p><span class="dropcap">I</span>ts headquarters are located in Murray Hill, New Jersey, in addition to other laboratories around the rest of the United States and in other countries. The historic laboratory originated in the late 19th century as the Volta Laboratory and Bureau created by Alexander Graham Bell.</p>
      <div class="layout--half layout--right">
        <aside class="pullquote">
          <q>Eight Nobel Prizes have been awarded for work completed at Bell Lab</q>
        </aside>
      </div>
      <p>Bell Labs was also at one time a division of the American Telephone & Telegraph Company (AT&amp;T Corporation), half-owned through its Western Electric manufacturing subsidiary. Researchers working at Bell Labs are credited with the development of radio astronomy, the transistor, the laser, the charge-coupled device (CCD), information theory, the UNIX operating system, the C programming language, S programming language and the C++ programming language. Eight Nobel Prizes have been awarded for work completed at Bell Laboratories.</p>
    </section>
    <section>
      <h2>Origin and Historical Locations</h2>
      <div class="layout--full">
        <div class="js-slick">
          <figure>
            <img src="http://placehold.it/850x450">
            <figcaption>Caption</figcaption>
          </figure>
          <figure>
            <img src="http://placehold.it/850x450">
            <figcaption>Caption</figcaption>
          </figure>
          <figure>
            <img src="http://placehold.it/850x450">
            <figcaption>Caption</figcaption>
          </figure>
        </div>
      </div>
      <div class="layout--bleed">
        <div class="js-slick">
          <figure>
            <img src="http://placehold.it/850x450">
            <figcaption>Caption</figcaption>
          </figure>
          <figure>
            <img src="http://placehold.it/850x450">
            <figcaption>Caption</figcaption>
          </figure>
          <figure>
            <img src="http://placehold.it/850x450">
            <figcaption>Caption</figcaption>
          </figure>
        </div>
      </div>
      <h3>Early Namesake</h3>
      <div class="layout--half layout--right">
        <figure class="media media--half">
          <img src="images/Volta_Laboratory_and_Bureau_nw22.jpg" alt="Volta Bureau Building">
          <figcaption>Bell's 1893 Volta Bureau building in Washington, D.C. | Public Domain</figcaption>
        </figure>
      </div>
      <p>In 1880, the French government awarded Alexander Graham Bell the Volta Prize of 50,000 francs, approximately US$10,000 at that time (about $250,000 in current dollars[1]) for the invention of the telephone. Bell used the award to found the Volta Laboratory (Alexander Graham Bell Laboratory) in Washington, D.C., in collaboration with Sumner Tainter and Bell's cousin Chichester Bell.[2] The laboratory is also variously known as the Volta Bureau, the Bell Carriage House, the Bell Laboratory and the Volta Laboratory. The laboratory focused on the analysis, recording, and transmission of sound. Bell used his considerable profits from the laboratory for further research and education to permit the "[increased] diffusion of knowledge relating to the deaf".[2] This resulted in the founding of the Volta Bureau c. 1887, located at Bell's father's house at 1527 35th Street in Washington, D.C., where its carriage house became their headquarters in 1889.[2] In 1893, Bell constructed a new building, close by at 1537 35th St., specifically to house the lab.[2] The building was declared a National Historic Landmark in 1972.[3][4][5]</p>
      <h3>Early Antecedent</h3>
      <p>In 1884, the American Bell Telephone Company created the Mechanical Department from the Electrical and Patent Department formed a year earlier.</p>
      <h3>Formal Organization</h3>
      <p>In 1925, Western Electric Research Laboratories and part of the engineering department of the American Telephone & Telegraph company (AT&amp;T) were consolidated to form Bell Telephone Laboratories, Inc., as a separate entity.</p>
      <div class="layout--half layout--left">
        <aside class="pullquote"><q>Plan, design, and support the equipment that Western Electric built</q></aside>
      </div>
      <p>The first president of research was Frank B. Jewett, who stayed there until 1940. Ownership of Bell Laboratories was evenly split between AT&amp;T and the Western Electric Company. Its principal work was to plan, design, and support the equipment that Western Electric built for Bell System operating companies. This included everything from telephones, telephone exchange switches, and transmission equipment. Bell Labs also carried out consulting work for the Bell Telephone Company and U.S. government work. A few workers were assigned to basic research, and this attracted much attention, especially since they produced several Nobel Prize winners. Until the 1940s, the company's principal locations were in and around the Bell Labs Building in New York City, but many of these were moved to suburban areas of New Jersey.</p>
      <p>Among the later Bell Laboratories locations in New Jersey were Murray Hill, Holmdel, Crawford Hill, the Deal Test Site, Freehold, Lincroft, Long Branch, Middletown, Neptune, Princeton, Piscataway, Red Bank, and Whippany. Of these, Murray Hill and Crawford Hill remain in existence (the Piscataway and Red Bank locations were transferred to and are now operated by Telcordia Technologies and the Whippany site was purchased by Bayer[6]).</p>
      <p>The largest grouping of people in the company was in Illinois, at Naperville-Lisle, in the Chicago area, which had the largest concentration of employees (about 11,000) prior to 2001. There also were groups of employees in Indianapolis, Indiana; Columbus, Ohio; North Andover, Massachusetts; Allentown, Pennsylvania; Reading, Pennsylvania; and Breinigsville, Pennsylvania; Burlington, North Carolina (1950s–1970s, moved to Greensboro 1980s) and Westminster, Colorado. Since 2001, many of the former locations have been scaled down or closed.</p>
      <p>The Holmdel site, a 1.9 million square foot structure set on 473 acres, was closed in 2007. The mirrored-glass building was designed by Eero Saarinen. In August 2013, Somerset Development bought the building, intending to redevelop it into a mixed commercial and residential project. The prospects of success are clouded by the difficulty of readapting Saarinen's design and by the current glut of aging and abandoned office parks.[7]</p>
    </section>
    <section>
      <h2>Discoveries and Developments</h2>
      <div class="layout--hang">
        <div class="layout--left">
          <figure class="media">
            <img src="images/Bell_Laboratories_logo.svg" alt=""/>
            <figcaption>Bell Laboratories logo | Fair use via
              <a href="https://en.wikipedia.org/wiki/File:Bell_Laboratories_logo.svg#/media/File:Bell_Laboratories_logo.svg">Wikipedia</a></figcaption>
          </figure>
        </div>
      </div>
      <p>At its peak, Bell Laboratories was the premier facility of its type, developing a wide range of revolutionary technologies, including radio astronomy, the transistor, the laser, information theory, the UNIX operating system, the C programming language and the C++ programming language. Eight Nobel Prizes have been awarded for work completed at Bell Laboratories.[8]</p>
      <ul>
        <li><em>1937:</em> Clinton J. Davisson shared the Nobel Prize in Physics for demonstrating the wave nature of matter.</li>
        <li><em>1956:</em> John Bardeen, Walter H. Brattain, and William Shockley received the Nobel Prize in Physics for inventing the first transistors.</li>
        <li>1977: Philip W. Anderson shared the Nobel Prize in Physics for developing an improved understanding of the electronic structure of glass and magnetic materials.</li>
        <li>1978: Arno A. Penzias and Robert W. Wilson shared the Nobel Prize in Physics. Penzias and Wilson were cited for their discovery of cosmic microwave background radiation, a nearly uniform glow that fills the Universe in the microwave band of the radio spectrum.</li>
        <li>1997: Steven Chu shared the Nobel Prize in Physics for developing methods to cool and trap atoms with laser light.</li>
        <li>1998: Horst Störmer, Robert Laughlin, and Daniel Tsui, were awarded the Nobel Prize in Physics for the discovery and explanation of the fractional quantum Hall effect.</li>
        <li>2009: Willard S. Boyle, George E. Smith shared the Nobel Prize in Physics together with Charles K. Kao. Boyle and Smith were cited for the invention of charge-coupled device (CCD) semiconductor imaging sensors.</li>
        <li>2014: Eric Betzig shared the Nobel Prize in Chemistry for his work in super-resolved fluorescence microscopy which he began to pursue while at Bell Labs.</li>
      </ul>
      <p>The Turing Award has twice been won by Bell Labs researchers:</p>
      <ul>
        <li>1968: Richard Hamming for his work on numerical methods, automatic coding systems, and error-detecting and error-correcting codes.</li>
        <li>1983: Ken Thompson and Dennis Ritchie for their work on operating systems theory, and their development of Unix.</li>
      </ul>
      <h3>1920s</h3>
      <p>During its first year of operation, facsimile (fax) transmission, invented elsewhere, was first demonstrated publicly by the Bell Laboratories. In 1926, the laboratories invented an early example synchronous-sound motion picture system, in competition with Fox Movietone and DeForest Phonofilm.[9]</p>
      <p>In 1924, Bell Labs physicist Walter A. Shewhart proposed the control chart as a method to determine when a process was in a state of statistical control. Shewart's methods were the basis for statistical process control (SPC) — the use of statistically based tools and techniques for the management and improvement of processes. This was the origin of the modern quality movement, including Six Sigma.</p>
      <p>In 1927, a Bell team headed by Herbert E. Ives successfully transmitted long-distance 128-line television images of Secretary of Commerce Herbert Hoover from Washington to New York. In 1928 the thermal noise in a resistor was first measured by John B. Johnson, and Harry Nyquist provided the theoretical analysis. (This is now referred to as "Johnson noise".) During the 1920s, the one-time pad cipher was invented by Gilbert Vernam and Joseph Mauborgne at the laboratories. Bell Labs' Claude Shannon later proved that it is unbreakable.</p>
      <div class="layout--bleed">
        <figure class="media"><img src="images/Green_Banks_-_Jansky_Antena.jpg" alt="Replica of First Transistor"/>
          <figcaption>Reconstruction of the directional antenna used in the discovery of radio emission of extraterrestrial origin |
            <a href="https://commons.wikimedia.org/wiki/File%3AGreen_Banks_-_Jansky_Antena.jpg">Jarek Tuszynski</a></figcaption>
        </figure>
      </div>
      <h3>1930s</h3>
      <p>In 1931, a foundation for radio astronomy was laid by Karl Jansky during his work investigating the origins of static on long-distance shortwave communications. He discovered that radio waves were being emitted from the center of the galaxy. In 1931 and 1932, experimental high fidelity, long playing, and even stereophonic recordings were made by the labs of the Philadelphia Orchestra, conducted by Leopold Stokowski.[10] In 1933, stereo signals were transmitted live from Philadelphia to Washington, D.C. In 1937, the vocoder, the first electronic speech synthesizer was invented and demonstrated by Homer Dudley. Bell researcher Clinton Davisson shared the Nobel Prize in Physics with George Paget Thomson for the discovery of electron diffraction, which helped lay the foundation for solid-state electronics.</p>
      <h3>1940s</h3>
      <p>In the early 1940s, the photovoltaic cell was developed by Russell Ohl. In 1943, Bell developed SIGSALY, the first digital scrambled speech transmission system, used by the Allies in World War II.</p>
      <p>Bell Labs Quality Assurance Department gave the world and the United States such statisticians as Walter A. Shewhart, W. Edwards Deming, Harold F. Dodge, George D. Edwards, Harry Romig, R. L. Jones, Paul Olmstead, E.G.D. Paterson, and Mary N. Torrey. During World War II, Emergency Technical Committee - Quality Control, drawn mainly from Bell Labs' statisticians, was instrumental in advancing Army and Navy ammunition acceptance and material sampling procedures.</p>
      <div class="layout--full">
        <figure class="media"><img src="images/Replica-of-first-transistor.jpg" alt="Replica of First Transistor"/>
          <figcaption>The first transistor, a point-contact germanium device, was invented at Bell Laboratories in 1947. This image shows a replica. | Public Domain</figcaption>
        </figure>
      </div>
      <p>In 1947, the transistor, probably the most important invention developed by Bell Laboratories, was invented by John Bardeen, Walter Houser Brattain, and William Bradford Shockley (and who subsequently shared the Nobel Prize in Physics in 1956). In 1947, Richard Hamming invented Hamming codes for error detection and correction. For patent reasons, the result was not published until 1950. In 1948, "A Mathematical Theory of Communication", one of the founding works in information theory, was published by Claude Shannon in the Bell System Technical Journal. It built in part on earlier work in the field by Bell researchers Harry Nyquist and Ralph Hartley, but it greatly extended these. Bell Labs also introduced a series of increasingly complex calculators through the decade. Shannon was also the founder of modern cryptography with his 1949 paper Communication Theory of Secrecy Systems.</p>
      <div class="layout--full">
        <div class="media--video-embed">
          <iframe class="intrinsic-wrapper-element" width="560" height="315" src="https://www.youtube.com/embed/Efjtcj2CPMA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <h4>Calculators</h4>
      <ul>
        <li>Model I: A Complex Number Calculator, completed January 1940, for doing calculations of complex numbers. See George Stibitz.</li>
        <li>Model II: Relay Calculator or Relay Interpolator, September 1943, for aiming anti-aircraft guns</li>
        <li>Model III: Ballistic Computer, June 1944, for calculations of ballistic trajectories</li>
        <li>Model IV: Bell Laboratories Relay Calculator, March 1945, a second Ballistic Computer</li>
        <li>Model V: Bell Laboratories General Purpose Relay Calculator, of which two were built, July 1946 and February 1947, which were general-purpose programmable computers using electromechanical relays</li>
        <li>Model VI: November 1950, an enhanced Model V</li>
      </ul>
      <h3>1950s</h3>
      <p>In 1952, William Gardner Pfann revealed the method of zone melting which enabled semiconductor purification and level doping.</p>
      <div class="layout--half layout--right">
        <aside class="pullquote"><q>The first modern solar cell was invented at Bell Laboratories</q></aside>
      </div>
      <p>The 1950s also saw developmental activity based upon information theory. The central development was binary code systems. Efforts concentrated more precisely on the Laboratories' prime mission of supporting the Bell System with engineering advances including N-carrier, TD Microwave radio relay, Direct Distance Dialing, E-repeaters, Wire spring relays, and improved switching systems. Maurice Karnaugh, in 1953, developed the Karnaugh map as a tool to facilitate management of Boolean algebraic expressions. In 1954, The first modern solar cell was invented at Bell Laboratories. As for the spectacular side of the business, in 1956 TAT-1, the first transatlantic telephone cable was laid between Scotland and Newfoundland, in a joint effort by AT&amp;T, Bell Laboratories, and British and Canadian telephone companies. A year later, in 1957, MUSIC, one of the first computer programs to play electronic music, was created by Max Mathews. New greedy algorithms developed by Robert C. Prim and Joseph Kruskal, revolutionized computer network design. In 1958, the laser was first described, in a technical paper by Arthur Schawlow and Charles Hard Townes.</p>
      <h3>1960s</h3>
      <p>In December 1960, Ali Javan and his associates William Bennett and Donald Heriot successfully operated the first gas laser, the first continuous-light laser, operating at an unprecedented accuracy and color purity. Also in 1960, Dawon Kahng and Martin Atalla invented the metal oxide semiconductor field-effect transistor (MOSFET); the MOSFET has achieved electronic hegemony and sustains the large-scale integrated circuits (LSIs) underlying today's information society. In 1962, the electret microphone was invented by Gerhard M. Sessler and James Edward Maceo West. Also in 1962, John R. Pierce's vision of communications satellites was realized by the launch of Telstar. In 1964, the Carbon dioxide laser was invented by Kumar Patel. In 1965, Penzias and Wilson discovered the Cosmic Microwave Background, for which they were awarded the Nobel Prize in Physics in 1978. Frank W. Sinden, Edward E. Zajac, Kenneth C. Knowlton, and A. Michael Noll made computer-animated movies during the early to mid-1960s. Ken C. Knowlton invented the computer animation language BEFLIX. The first digital computer art was created in 1962 by Noll. In 1966, Orthogonal frequency-division multiplexing (OFDM), a key technology in wireless services, was developed and patented by R. W. Chang. In 1968, Molecular beam epitaxy was developed by J.R. Arthur and A.Y. Cho; molecular beam epitaxy allows semiconductor chips and laser matrices to be manufactured one atomic layer at a time. In 1969, the UNIX operating system was created by Dennis Ritchie and Ken Thompson. From 1969 to 1971, Aaron Marcus, the first graphic designer in the world to work with computer graphics, researched, designed, and programmed a prototype interactive page-layout system for the Picturephone (TM). The Charge-coupled device (CCD) was invented in 1969 by Willard Boyle and George E. Smith, for which they were awarded the Nobel Prize in Physics in 2009. In the 1960s, the New York City site was sold and became the Westbeth Artists Community complex.</p>
      <h3>1970s</h3>
      <div class="layout--half layout--left">
        <figure class="media">
          <img src="images/The_C_Programming_Language,_First_Edition_Cover_(2).png" alt="Volta Bureau Building">
          <figcaption>Book cover of The <em>C Programming Language</em>, first edition |
            <a href="https://commons.wikimedia.org/wiki/File%3AThe_C_Programming_Language%2C_First_Edition_Cover_(2).svg">Julesmazur</a></figcaption>
        </figure>
      </div>
      <p>The 1970s and 1980s saw more and more computer-related inventions at the Bell Laboratories as part of the personal computing revolution. In 1972, Dennis Ritchie developed the compiled C programming language as a replacement for the interpretive B which was then used in rewriting the UNIX operating system (also developed at Bell Laboratories by Ritchie and Ken Thompson). Additionally, the AWK programming language was designed and implemented by Alfred Aho, Peter Weinberger, and Brian Kernighan of Bell Laboratories.</p>
      <p>In 1970, A. Michael Noll invented a tactile, force-feedback system, coupled with interactive stereoscopic computer display. In 1971, an improved task priority system for computerized switching systems for telephone traffic was invented by Erna Schneider Hoover, who received one of the first software patents for it. In 1976, Fiber optics systems were first tested in Georgia and in 1980, the first single-chip 32-bit microprocessor, the BELLMAC-32A was demonstrated. It went into production in 1982.</p>
      <p>The 1970s also saw a major central office technology evolve from crossbar electromechanical relay-based technology and discrete transistor logic to Bell Labs-developed thick film hybrid and transistor-transistor logic (TTL), stored program-controlled switching systems; 1A/#4 TOLL Electronic Switching Systems (ESS) and 2A Local Central Offices produced at the Bell Labs Naperville and Western Electric Lisle, Illinois facilities. This technology evolution dramatically reduced the floor space required. The new ESS also came with its own diagnostic software that required only a switchman and several frame technicians to maintain. The technology was often touted in the Bell Labs Technical Journals and Western Electric magazine (WE People).[citation needed]</p>
      <h3>1980s</h3>
      <div class="layout--hang">
        <div class="layout--left">
          <figure class="media">
            <img src="images/Bell_Labs_logo,_1984-1995.png" alt=""/>
            <figcaption>Bell Laboratories logo, used from 1984 until 1995 | Fair use via
              <a href="https://en.wikipedia.org/wiki/File:Bell_Labs_logo,_1984-1995.png">Wikipedia</a></figcaption>
          </figure>
        </div>
      </div>
      <p>In 1980, the TDMA and CDMA digital cellular telephone technology was patented. In 1982, Fractional quantum Hall effect was discovered by Horst Störmer and former Bell Laboratories researchers Robert B. Laughlin and Daniel C. Tsui; they consequently won a Nobel Prize in 1998 for the discovery. In 1986[citation needed], the C++ programming language was developed by Bjarne Stroustrup as an extension to the original C programming language also developed at Bell Laboratories.</p>
      <p>In 1984, the first photoconductive antennas for picosecond electromagnetic radiation were demonstrated by Auston and others. This type of antenna became an important component in terahertz time-domain spectroscopy. In 1984, the Karmarkar Linear Programming Algorithm was developed by mathematician Narendra Karmarkar. Also in 1984, a divestiture agreement signed in 1982 with the American Federal government forced the break-up of AT&amp;T: Bellcore (now Telcordia Technologies) was split off from Bell Laboratories to provide the same R&amp;D functions for the newly created local exchange carriers. AT&amp;T also was limited to using the Bell trademark only in association with Bell Laboratories. Bell Telephone Laboratories, Inc. became a wholly owned company of the new AT&amp;T Technologies unit, the former Western Electric. The 5ESS Switch was developed during this transition. In 1985, laser cooling was used to slow and manipulate atoms by Steven Chu and team. In 1985, the AMPL modeling language was developed by Robert Fourer, David M. Gay and Brian Kernighan at Bell Laboratories. Also in 1985, Bell Laboratories was awarded the National Medal of Technology "For contribution over decades to modern communication systems". During the 1980s, the Plan 9 operating system was developed as a replacement for Unix which was also developed at Bell Laboratories in 1969. Development of the Radiodrum, a three-dimensional electronic instrument. In 1988, TAT-8 became the first fiber optic transatlantic cable.</p>
      <h3>1990s</h3>
      <div class="layout--hang">
        <div class="layout--left">
          <figure class="media">
            <img src="images/Lucent_Technologies_logo.svg" alt=""/>
            <figcaption>Lucent Logo bearing the "Bell Labs Innovations" tagline | Fair use via
              <a href="https://en.wikipedia.org/wiki/File:Lucent_Technologies_logo.svg">Wikipedia</a></figcaption>
          </figure>
        </div>
      </div>
      <p>In 1991, the 56K modem technology was patented by Nuri Dağdeviren and his team. In 1994, the quantum cascade laser was invented by Federico Capasso, Alfred Cho, Jerome Faist and their collaborators and was later greatly improved by the innovations of Claire Gmachl. Also in 1994, Peter Shor devised his quantum factorization algorithm. In 1996, SCALPEL electron lithography, which prints features atoms wide on microchips, was invented by Lloyd Harriott and his team. The Inferno operating system, an update of Plan 9, was created by Dennis Ritchie with others, using the new concurrent Limbo programming language. A high performance database engine (Dali) was developed which became DataBlitz in its product form.[11]</p>
      <p>In 1996, AT&amp;T spun off Bell Laboratories, along with most of its equipment-manufacturing business, into a new company named Lucent Technologies. AT&amp;T retained a small number of researchers who made up the staff of the newly created AT&amp;T Labs.</p>
      <p>In 1997, the smallest practical transistor (60 nanometers, 182 atoms wide) was built. In 1998, the first optical router was invented[dubious – discuss].</p>
      <h3>2000s</h3>
      <div class="layout--hang">
        <div class="layout--left">
          <figure class="media">
            <img src="images/Alcatel_Lucent_Logo.svg" alt=""/>
            <figcaption>Pre-2013 logo of Alcatel-Lucent, parent company of Bell Labs |
              <a href="https://commons.wikimedia.org/wiki/File%3AAlcatel_Lucent_Logo.svg">Alcatel-Lucent</a></figcaption>
          </figure>
        </div>
      </div>
      <p>2000 was an active year for the Laboratories, in which DNA machine prototypes were developed; progressive geometry compression algorithm made widespread 3-D communication practical; the first electrically powered organic laser invented; a large-scale map of cosmic dark matter was compiled, and the F-15 (material), an organic material that makes plastic transistors possible, was invented.</p>
      <p>In 2002, physicist Jan Hendrik Schön was fired after his work was found to contain fraudulent data. It was the first known case of fraud at Bell Labs.</p>
      <p>In 2003, the New Jersey Institute of Technology Biomedical Engineering Laboratory was created at Murray Hill, New Jersey.[12]</p>
      <p>In 2005, Jeong H. Kim, former President of Lucent's Optical Network Group, returned from academia to become the President of Bell Laboratories.</p>
      <p>In April 2006, Bell Laboratories' parent company, Lucent Technologies, signed a merger agreement with Alcatel. On December 1, 2006, the merged company, Alcatel-Lucent, began operations. This deal raised concerns in the United States, where Bell Laboratories works on defense contracts. A separate company, LGS Innovations, with an American board was set up to manage Bell Laboratories' and Lucent's sensitive U.S. Government contracts.</p>
      <p>In December 2007, it was announced that the former Lucent Bell Laboratories and the former Alcatel Research and Innovation would be merged into one organization under the name of Bell Laboratories. This is the first period of growth following many years during which Bell Laboratories progressively lost manpower due to layoffs and spin-offs making the company shut down for a short period of time.</p>
      <p>As of July 2008, however, only four scientists remained in physics research, according to a report by the scientific journal <em>Nature</em>.[13]</p>
      <blockquote>
        <p>On August 28, 2008, Alcatel-Lucent announced it was pulling out of basic science, material physics, and semiconductor research, and it will instead focus on more immediately marketable areas, including networking, high-speed electronics, wireless networks, nanotechnology and software.</p>
        <cite>Priya Ganapati | <a href="http://www.wired.com/2008/08/bell-labs-kills/" target="_blank" rel="external">Bell Labs Kills Fundamental Physics Research</a></cite>
      </blockquote>
      <p>In 2009, Willard Boyle and George Smith were awarded the Nobel Prize in Physics for the invention and development of the charge-coupled device (CCD).[15]</p>
      <h3>2010s</h3>
      <p>In February 2013, former Head of Research Gee Rittenhouse returned from his position as Chief Operating Officer of Alcatel-Lucent's Software, Services, and Solutions business to become the 12th President of Bell Labs.[16]</p>
      <p>On November 4, 2013, Alcatel-Lucent announced the appointment of Marcus Weldon as President of Bell Labs. His stated charter was to return Bell Labs to the forefront of innovation in Information and communications technology by focusing on solving the key industry challenges, as was the case in the great Bell Labs innovation eras in the past.[17]</p>
      <p>In July 2014, Bell Labs announced it had broken "the broadband Internet speed record" with a new technology dubbed XG-FAST that promises 10 gigabits per second connectivity speeds.[18]</p>
      <p>In 2014 Eric Betzig shared the Nobel Prize in Chemistry for his work in super-resolved fluorescence microscopy which he began to pursue while at Bell Labs in the Semiconductor Physics Research Department.[19]</p>
      <p>On April 15, 2015, Nokia agreed to acquire Alcatel-Lucent, the Bell Labs' parent company, in a share exchange worth $16.6 billion.[20][21]</p>
    </section>
    <section>
      <h2>Presidents</h2>
      <div class="layout--full layout--pad">
        <figure>
          <table>
            <tbody><tr>
              <th></th>
              <th>Period</th>
              <th>Name</th>
              <th>Lifetime</th>
            </tr>
            <tr>
              <td>13</td>
              <td>2013—</td>
              <td><a href="/wiki/Marcus_Weldon" title="Marcus Weldon">Marcus Weldon</a></td>
              <td>1968—</td>
            </tr>
            <tr>
              <td>12</td>
              <td>2013</td>
              <td><a href="/w/index.php?title=Gee_Rittenhouse&amp;action=edit&amp;redlink=1" class="new" title="Gee Rittenhouse (page does not exist)">Gee Rittenhouse</a></td>
              <td></td>
            </tr>
            <tr>
              <td>11</td>
              <td>2005—2013</td>
              <td><a href="/wiki/Jeong_H._Kim" title="Jeong H. Kim">Jeong H. Kim</a></td>
              <td>1961—</td>
            </tr>
            <tr>
              <td>10</td>
              <td>2001—2005</td>
              <td><a href="/w/index.php?title=Bill_O%E2%80%99Shea&amp;action=edit&amp;redlink=1" class="new" title="Bill O’Shea (page does not exist)">Bill O’Shea</a></td>
              <td>c. 1957—</td>
            </tr>
            <tr>
              <td>9</td>
              <td>1999—2001</td>
              <td><a href="/wiki/Arun_Netravali" title="Arun Netravali">Arun Netravali</a></td>
              <td>1946—</td>
            </tr>
            <tr>
              <td>8</td>
              <td>1995—1999</td>
              <td><a href="/w/index.php?title=Dan_Stanzione&amp;action=edit&amp;redlink=1" class="new" title="Dan Stanzione (page does not exist)">Dan Stanzione</a></td>
              <td>1945—</td>
            </tr>
            <tr>
              <td>7</td>
              <td>1991—1995</td>
              <td><a href="/wiki/John_S._Mayo" title="John S. Mayo">John S. Mayo</a></td>
              <td>1930—</td>
            </tr>
            <tr>
              <td>6</td>
              <td>1979—1991</td>
              <td><a href="/wiki/Ian_Munro_Ross" title="Ian Munro Ross">Ian Munro Ross</a></td>
              <td>1927—2013</td>
            </tr>
            <tr>
              <td>5</td>
              <td>1973—1979</td>
              <td><a href="/wiki/William_O._Baker" title="William O. Baker">William O. Baker</a></td>
              <td>1915—2005</td>
            </tr>
            <tr>
              <td>4</td>
              <td>1959—1973</td>
              <td><a href="/w/index.php?title=James_B._Fisk&amp;action=edit&amp;redlink=1" class="new" title="James B. Fisk (page does not exist)">James B. Fisk</a></td>
              <td>1910—1981</td>
            </tr>
            <tr>
              <td>3</td>
              <td>1951—1959</td>
              <td><a href="/wiki/Mervin_Kelly" title="Mervin Kelly">Mervin Kelly</a></td>
              <td>1895—1971</td>
            </tr>
            <tr>
              <td>2</td>
              <td>1940—1951</td>
              <td><a href="/wiki/Oliver_Buckley" title="Oliver Buckley" class="mw-redirect">Oliver Buckley</a></td>
              <td>1887—1959</td>
            </tr>
            <tr>
              <td>1</td>
              <td>1925—1940</td>
              <td><a href="/wiki/Frank_B._Jewett" title="Frank B. Jewett">Frank B. Jewett</a></td>
              <td>1879—1949</td>
            </tr>
            </tbody>
          </table>
          <figcaption>
            Table caption goes here
          </figcaption>
        </figure>
      </div>
    </section>
    <section>
      <h2>Programs</h2>
      <p>On May 20, 2014, Bell Labs announced the <strong>Bell Labs Prize</strong>, a competition for innovators to offer proposals in information and communications technologies, with cash awards of up to $100,000 for the grand prize.[22]</p>
    </section>
    <section>
      <h2>Bell Labs Technology Showcase</h2>
      <p>The Murray Hill campus features a 3000 square foot exhibit showcasing the technological discoveries and developments at Bell Labs. The exhibit is located just off the main lobby and is open to the public.[23]</p>
    </section>
  </div>
  <footer>
    <% include _includes/credits %>
  </footer>
</article>
<% include _includes/disqus%>
