<div class="
<% if(body[i].value.style === 'hangLeft') { %>hang hang--left<% } %>
<% if(body[i].value.style === 'hangRight') { %>hang hang--right<% } %>
<% if(body[i].value.style === 'halfLeft'){ %>column--half set--left<% } %>
<% if(body[i].value.style === 'halfRight'){ %>column--half set--right<% } %>
<% if(body[i].value.style === 'wide') { %>column--2x set--center<% } %>
<% if(body[i].value.style === 'full') { %>column--1x set--center<% } %>
<% if(body[i].value.style === 'bleed') { %>column--bleed<% } %>
">
  <blockquote>
    <p><%- body[i].value.text %></p>
    <% if(body[i].value.credit || body[i].value.source) { %>
      <cite>
        <% if(body[i].value.credit) { %><%- body[i].value.credit %><% } %>
        <% if(body[i].value.credit && body[i].value.source) { %>|<% } %>
        <% if(body[i].value.source) { %><%- body[i].value.source %><% } %>
      </cite>
    <% } %>
  </blockquote>
</div>
