<p class="byline"><% for(i in results.bylines) { %><%- results.bylines[i].value.role %> by <span class="byline__name" itemprop="author"><%- results.bylines[i].value.name %></span><% } %> <% include dateline %></p>
