<header class="site-header">
  <div class="site-logo"><a href="https://github.com/ianrose/storysettings">Storysettings</a></div>
  <div class="site-title"><%- title %></div>
  <% include share %>
  <a class="site-top js-top" href="#">Top</a>
</header>
