<header class="site-header js-header">
  <div class="site-logo"><a href="https://github.com/ianrose/storysettings">Storysettings</a></div>
  <div id="js-site-title" class="site-title is-hidden"><%- title %></div>
  <% include share %>
  <a class="site-top js-top" href="#">
    <svg version="1.1"  x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
      <title>Back to Top</title>
      <desc>Go back to the top of this webpage</desc>
      <path d="M10,2.5L16.5,9H13v8H7V9H3.5L10,2.5z"/>
    </svg>
  </a>
</header>
