<div class="
<% if(body[i].value.style === 'hangLeft') { %>hang hang--left<% } %>
<% if(body[i].value.style === 'hangRight') { %>hang hang--right<% } %>
<% if(body[i].value.style === 'halfLeft'){ %>column--half set--left<% } %>
<% if(body[i].value.style === 'halfRight'){ %>column--half set--right<% } %>
<% if(body[i].value.style === 'wide') { %>column--2x set--center gutter--vertical-2x<% } %>
<% if(body[i].value.style === 'full') { %>column--1x set--center gutter--vertical-2x<% } %>
<% if(body[i].value.style === 'bleed') { %>column--bleed gutter--vertical-2x<% } %>
">
  <figure class="media">
  	<video id="<%- i %>-video" class="video-js vjs-default-skin vjs-16-9" controls width="1280" height="720" data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "<%- body[i].value.url %>"}] }'>
  	</video>
    <% if(body[i].value.caption || body[i].value.source) { %>
      <% include caption %>
    <% } %>
  </figure>
</div>
