// Configuration
@import 'config';

// Feel free to remove:
body {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather';
  color: #252525;
  text-align: center;
}

.site-header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 20px solid #fff;
  box-sizing: border-box;

  h1 {
    font-weight: boldest;
    // font-size: 10vw;
    font-size: 10vmax;
    line-height: 1.5;
    font-style: italic;
    margin: 0;

    a,
    a:link {
      color: #252525;
      text-decoration: underline;
    }

    a:hover,
    a:active {
      color: #4575b4;
    }
  }
}

a {
  color: #4575b4;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    padding-right: 10px;
  }
}
