.article--body {
  p,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  blockquote {
    max-width: $full-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $grid-pad;
    padding-right: $grid-pad;
  }

  blockquote p {
    padding-left: 0;
    padding-right: 0;
  }
}

.article--body section:first-child p:first-child {
  margin-top: $grid-pad * -1;
  position: relative;
  background-color: #fff;
  padding-top: $grid-pad;
}

.article--header {
  background-color: #000;
  color: #fff;
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-shadow: 0 0 10px #000;
}

.article--header h1 {
  margin-left: auto;
  margin-right: auto;
  padding-left: $grid-pad;
  padding-right: $grid-pad;
  @include setType(4, $ms-up2);

  @media (min-width: $screen-sm-min) {
    margin-bottom: emRhythm(1, $ms-up5, $silent: true);
    @include setType(8, $ms-up5);
  }
}

.article--intro {
  padding-left: $grid-pad;
  padding-right: $grid-pad;
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
