.article--body {
  p,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol {
    max-width: $full-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $grid-pad;
    padding-right: $grid-pad;
  }
}

.article--body section:first-child p:first-child {
  margin-top: $grid-pad * -2.5;
  position: relative;
  background-color: #fff;
  padding-top: $grid-pad;
}

.article--header {
  background-color: #000;
  color: #fff;
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-shadow: 0 0 10px #000;
}

.article--header h1 {
  margin-left: auto;
  margin-right: auto;
  padding-left: $grid-pad;
  padding-right: $grid-pad;
}

.article--intro {
  padding-left: $grid-pad;
  padding-right: $grid-pad;
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: 1;
}
