::selection {
  background-color: $highlight-color;
}

body {
  padding: $site-header-height 0 0 0;
  font-family: $font-serif;
  font-weight: 400;
  color: $text-color;
  margin: auto;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  background-color: $background-color;
}

.wf-loading {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote {
    visibility: hidden;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-family: $font-headline;
  font-weight: 700;
  text-rendering: optimizeLegibility;

  a:link {
    text-decoration: none;
    font-weight: 700;
  }
}

// [1] Applies a margin bottom that is a multiple of the vertical grid in EMs.
// The first argument is the font size context and the second is multiple of the
// vertical grid unit.
// [2] Sets the type to one of the modular scale values and the second argument
// sets a unitless line-height as a multiple of the vertical grid.
// [3] A generic media query for tablet size ranges.
// [4] Applies a margin bottom that is the same vertical grid value as the mobile
// first rule.
// [5] Sets the type to one of the modular scale values and the second argument
// sets a unitless line-height as a multiple of the vertical grid.
h1, .h1 {
  margin-bottom: emRhythm(0.5, $ms-up3, $silent: true); // [1]
  @include setType(4, $ms-up3); // [2]

  @media (min-width: $screen-sm-min) {
    margin-bottom: emRhythm(1, $ms-up5, $silent: true);
    @include setType(8, $ms-up5);
  }
}

h2, .h2 {
  margin-bottom: emRhythm(0.5, $ms-up2, $silent: true);
  @include setType(4, $ms-up2);
}

h3, .h3 {
  margin-bottom: emRhythm(1, $ms-up1);
  @include setType(3, $ms-up1);
}

h4, .h4 {
  margin-bottom: emRhythm(0.5, $ms-up1, $silent: true);
  @include setType(3, $ms-up1);
}

h5, .h5,
h6, .h6 {
  margin-bottom: 0;
  @include setType(3);
}

a,
a:link {
  color: #000;
  font-weight: 600;
}

a:visited {
  color: $text-color;
}

a:hover {
  color: $link-color;
}

a:active {
  color: darken($link-color, 30%);
}

p {
  margin-top: 0;
  margin-bottom: emRhythm($base-line-multi);
  padding-top: 0;
  padding-bottom: 0;

  @media (min-width: $screen-sm-min) {
    @if $paragraph-justify {
      text-align: justify;
    }
  }
}

small,
.font-small {
  @include setType(3, $ms-down1);
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

figure {
  margin: 0;
  position: relative;
}

figcaption {
  color: $light-grey;
  font-family: $font-sans;
  font-weight: 400;
  margin-top: $base-vertical-unit;
  @include setType(2, $ms-down1, $ms-up1);
}

blockquote {
  margin-left: 0;
  padding-bottom: 0;
  margin-bottom: emRhythm($base-line-multi);
  margin-right: 0;
  font-family: $font-display-serif;

  p {
    font-weight: 600;
    margin-bottom: 0;
    @include setType(4, $ms-up2);
  }

  cite {
    color: $light-grey;
    font-weight: 400;
    font-family: $font-sans;
    font-style: normal;
    margin-top: emRhythm(1, $ms-down1);
    @include setType(2, $ms-down1);
  }
}

pre,
code {
  font-family: $font-mono;
  font-size: $ms-down1;
  background-color: lighten($text-color, 75%);
  padding-left: 0.25em;
  padding-right: 0.25em;
  margin: 0;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: emRhythm(3);
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: emRhythm(6);
}

ul ul,
ol ol,
dl dl {
  margin-bottom: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

// [1] https://developer.mozilla.org/en-US/docs/CSS/font-variant
abbr {
  font-variant: small-caps; // [1]
  font-weight: 600;
  text-transform: lowercase;
}

// Cursor changed to a question mark when it has a title
abbr[title]:hover {
  cursor: help;
}

mark {
  background: $yellow;
}

// Creates horizontal rules that obey the baseline.
// [1] Zero outs the user agent border
hr {
  margin-top: emRhythm(4);
  margin-bottom: 0;
  border: none; // [1]
  border-top-color: $lighter-grey;
  border-top-style: solid;
  @include rhythmBorderTop(1px, 3);
}

table {
  font-family: $font-sans;
  width: 100%;
  max-width: 100%;
  margin-bottom: emRhythm(3);
}

table + figcaption {
  margin-top: emRhythm(-2, $ms-down1);
  margin-bottom: emRhythm(3, $ms-down1);
}

th,
td {
  padding: $base-vertical-unit $base-vertical-unit;
  text-align: left;
  border-bottom: 1px solid $lighter-grey;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

form p {
  margin-bottom: 0;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
textarea,
select {
  height: $base-vertical-unit * 4;
  padding: 6px $base-vertical-unit; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid lighten($text-color, 60%);
  box-shadow: none;
  box-sizing: border-box;
  font-family: $font-sans;
  font-weight: 400;
  vertical-align: middle;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: $base-vertical-unit * 9;
  padding-top: $base-vertical-unit;
  padding-bottom: $base-vertical-unit;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

label,
legend {
  color: $light-grey;
  display: block;
  font-weight: 400;
  font-family: $font-serif;
  margin-bottom: emRhythm(1, $ms-down1);
  @include setType($base-line-multi, $ms-down1);
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

input[type="file"] {
  padding-left: 0;
  padding-right: 0;
}
