::selection {
  background-color: $highlight-color;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $font-serif;
  font-weight: 300;
  margin: auto;
  overflow-x: hidden;
  padding: 0;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
}

// .wf-loading {
//   h1,
//   h2,
//   h3,
//   h4,
//   h5,
//   h6,
//   p,
//   blockquote {
//     visibility: hidden;
//   }
// }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $font-headline;
  font-weight: 900;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-rendering: optimizeLegibility;

  a:link {
    font-weight: 900;
    text-decoration: none;
  }
}

// [1] Applies a margin bottom that is a multiple of the vertical grid in EMs.
// The first argument is the font size context and the second is multiple of the
// vertical grid unit.
// [2] Sets the type to one of the modular scale values and the second argument
// sets a unitless line-height as a multiple of the vertical grid.
// [3] A generic media query for tablet size ranges.
// [4] Applies a margin bottom that is the same vertical grid value as the mobile
// first rule.
// [5] Sets the type to one of the modular scale values and the second argument
// sets a unitless line-height as a multiple of the vertical grid.
h1,
.h1 {
  @include setType(4, $ms-up3); // [2]
  margin-bottom: emRhythm(1, $ms-up3, $silent: true); // [1]

  @media (min-width: $screen-sm-min) {
    @include setType(8, $ms-up5);
    margin-bottom: emRhythm(1, $ms-up5, $silent: true);
  }
}

h2,
.h2 {
  @include setType(4, $ms-up2);
  margin-bottom: emRhythm(1, $ms-up2, $silent: true);
}

h3,
.h3 {
  @include setType(3, $ms-up1);
  margin-bottom: emRhythm(1);
}

h4,
.h4 {
  @include setType(3);
  margin-bottom: emRhythm(1, $ms-up1, $silent: true);
}

h5,
.h5,
h6,
.h6 {
  @include setType(3, $ms-down2);
  margin-bottom: 0;
}

a,
a:link {
  color: $link-color;
  text-decoration: none;
}

a:visited {
  color: $link-color;
}

a:hover {
  color: $link-color;
  text-decoration: underline;
}

a:active {
  color: darken($link-color, 30%);
}

p {
  margin-bottom: emRhythm(2);
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;

  @media (min-width: $screen-sm-min) {
    @if $paragraph-justify {
      text-align: justify;
    }
  }
}

small,
.font-small {
  @include setType(3, $ms-down1);
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

figure {
  margin: 0;
  position: relative;
}

figcaption {
  @include setType(2, $ms-down1);
  color: $light-grey;
  font-family: $font-sans;
  font-weight: 400;
  margin-top: $base-vertical-unit;
}

blockquote {
  font-family: $font-display-serif;
  margin-bottom: emRhythm($base-line-multi * 2);
  margin-left: 0;
  margin-right: 0;
  margin-top: emRhythm($base-line-multi * 2);
  padding-bottom: 0;
  text-align: center;

  p {
    @include setType(4, $ms-up2);
    font-weight: 900;
    margin-bottom: 0;
  }

  cite {
    @include setType(2, $ms-down1);
    color: $light-grey;
    font-family: $font-sans;
    font-style: normal;
    font-weight: 400;
    padding-left: $column-pad;
    padding-right: $column-pad;
    margin-top: emRhythm(1, $ms-down1);
  }
}

pre,
code {
  background-color: lighten($text-color, 75%);
  font-family: $font-mono;
  font-size: $ms-down1;
  margin: 0;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

ol,
ul,
dl {
  margin-bottom: emRhythm(3);
  margin-left: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: emRhythm(6);
  padding-top: 0;
}

ul ul,
ol ol,
dl dl {
  margin-bottom: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

// [1] https://developer.mozilla.org/en-US/docs/CSS/font-variant
abbr {
  font-variant: small-caps; // [1]
  font-weight: 600;
  text-transform: lowercase;
}

// Cursor changed to a question mark when it has a title
abbr[title]:hover {
  cursor: help;
}

mark {
  background: $yellow;
}

// Creates horizontal rules that obey the baseline.
// [1] Zero outs the user agent border
hr {
  @include rhythmBorderTop(1px, 3);
  border: 0;
  border-top-color: $lighter-grey;
  border-top-style: solid; // [1]
  margin-bottom: 0;
  margin-top: emRhythm(4);
}

table {
  font-family: $font-sans;
  margin-bottom: emRhythm($base-line-multi * 2);
  margin-top: emRhythm($base-line-multi * 2);
  max-width: 100%;
  overflow: scroll;
  width: 100%;
}

table + figcaption {
  margin-bottom: emRhythm(6, $ms-down1);
  margin-top: emRhythm(-5, $ms-down1);
}

tr {
  display: block;
  border-bottom: 1px solid $lighter-grey;

  @media (min-width: $screen-sm-min) {
    display: table-row;
  }
}

th {
  display: none;

  @media (min-width: $screen-sm-min) {
    display: table-cell;
  }
}

td {
  display: block;

  &:before {
    content: attr(data-th)': ';
    font-weight: bold;
    padding-right: $base-vertical-unit;
  }

  @media (min-width: $screen-sm-min) {
    display: table-cell;

    &:before {
      display: none;
    }
  }
}

th,
td {
  padding: $base-vertical-unit;
  text-align: left;
}

form p {
  margin-bottom: 0;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
textarea,
select {
  background-color: #fff;
  border: 1px solid lighten($text-color, 60%); /* The 6px vertically centers text on FF, ignored by Webkit */
  box-shadow: none;
  box-sizing: border-box;
  font-family: $font-sans;
  font-weight: 400;
  height: $base-vertical-unit * 4;
  padding: 6px $base-vertical-unit;
  vertical-align: middle;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: $base-vertical-unit * 9;
  padding-bottom: $base-vertical-unit;
  padding-top: $base-vertical-unit;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

label,
legend {
  @include setType($base-line-multi, $ms-down1);
  color: $light-grey;
  display: block;
  font-family: $font-serif;
  font-weight: 400;
  margin-bottom: emRhythm(1, $ms-down1);
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

input[type="file"] {
  padding-left: 0;
  padding-right: 0;
}
