.col--1x,
.col--2x {

  figcaption {
    padding-left: $column-pad;
    padding-right: $column-pad;
  }
}

.col--1x {
  max-width: $column-width;
}

.col--2x {
  max-width: $column-width * 2;
}

.col--half {
  @media (min-width: $screen-xs-min) {
    width: 50%;
  }

  figure,
  aside {
    margin-left: $column-pad;
    margin-right: $column-pad;

    @media (min-width: $screen-xs-min) {
      max-width: ($column-width / 2) - $column-pad;
    }
  }
}
