.layout--center {
  margin-left: auto;
  margin-right: auto;
}

.layout--pad {
  padding-left: $column-pad;
  padding-right: $column-pad;
}

.layout--bleed {
  max-width: none;
  width: 100%;

  img {
    max-width: none;
    width: 100%;
  }

  figcaption {
    padding-left: $column-pad;
    padding-right: $column-pad;
  }
}

.layout--vpad-2x {
  margin-top: emRhythm($base-line-multi * 2);
  margin-bottom: emRhythm($base-line-multi * 2);
}

.layout--right {
  float: right;
}

.layout--left {
  float: left;

  figure,
  aside {
    float: right;
  }
}

.layout--hang {
  margin: 0 auto;
  max-width: ($column-width * 2) + ($column-pad * 2);
}

.layout--hang {
  figure,
  aside {
    max-width: $column-width / 2;
  }
}

.layout--hang {
  .layout--right,
  .layout--left {
    margin-left: $column-pad;
    margin-right: $column-pad;
  }
}
