.media {
  margin-bottom: emRhythm($base-line-multi);

  .layout--bleed &,
  .layout--full &,
  .layout--span & {
    margin-top: emRhythm($base-line-multi * 2);
    margin-bottom: emRhythm($base-line-multi * 2);
  }
}

.media img {
  display: block;
  max-width: 100%;
}

.media__bg {
  height: 100vh;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);

  &.is-fixed {
    position: fixed;
  }
}

.media__video-embed {
  @extend .ratio-16x9;
  @extend .intrinsic-wrapper;
  width: 100%;

  iframe,
  video {
    @extend .intrinsic-wrapper__element;
  }

  &.vjs-fullscreen {
    padding: 0;
  }
}
