.media {
  margin-bottom: emRhythm($base-line-multi);
}

.media img {
  display: block;
  max-width: 100%;
}

.media--video-bg {
  height: 100vh;
  left: 50%;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  z-index: 0;
}

.media--video-embed {
  @extend .ratio-16x9;
  @extend .intrinsic-wrapper;

  iframe {
    @extend .intrinsic-wrapper-element;
  }
}
