.share {
  float: right;
  list-style: none;
  margin-top: 3px;
  margin-right: 27px;
  padding: 0;
}

.share li {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}

.share svg {
  fill: #000;
  height: 18px;
  width: 18px;
}
