.share {
  float: right;
  list-style: none;
  margin-top: 3px;
  padding: 0;
}

.share li {
  display: inline-block;
  margin-left: $grid-pad / 5;
}

.share svg {
  fill: #000;
  height: 18px;
  width: 18px;
}
