.site-header {
  background-color: #fff;
  color: $text-color;
  height: $site-header-height;
  left: 0;
  padding-top: $base-vertical-unit + $bar-height;
  padding-bottom: $base-vertical-unit;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 2;

  a {
    color: $text-color;
  }

  svg {
    fill: $text-color;
  }
}

.site-header.is-top {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
}

.site-header.is-up {
  top: $site-header-height * -1;
}

.site-header__content {
  @include clearfix();
}
