.site-top {
  display: none;
  float: right;
  height: 18px;
  width: 18px;

  @media (min-width: $screen-sm-min) {
    margin-right: $column-pad;
  }

  .is-top & {
    @media (min-width: $screen-sm-min) {
      display: block;
   }
 }
}
