.site-top {
  display: none;
  float: right;
  height: 18px;
  width: 18px;
  margin-top: 3px;

  @media (min-width: $screen-sm-min) {
        margin-right: $grid-pad;
  }

 .is-top & {
   @media (min-width: $screen-sm-min) {
     display: block;
   }
 }
}
