.site-header {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
  color: $background-color;
  padding: $base-vertical-unit $grid-pad;
  height: $site-header-height;
  left: 0;
  position: fixed;
  top: 0;
  transition: top 0.5s ease-in-out;
  width: 100%;
  z-index: 2;
  @include clearfix();

  a {
    color: $background-color;
  }

  svg {
    fill: $background-color;
  }
}

.site-header.is-top {
  background-image: none;
  background-color: #fff;
  color: $text-color;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.3);

  a {
    color: $text-color;
  }

  svg {
    fill: $text-color;
  }
}

.site-header.is-up {
  top: $site-header-height * -1;
}
