.slick-arrow {
  display: block;
  height: $grid-pad;
  position: absolute;
  margin-top: ($grid-pad / 2) * -1;
  top: 50%;
  z-index: 1;
  line-height: 0;
  font-size: 0;
  background: transparent;
  border: none;
  outline: none;

  &:before {
    font-size: $base-font-size;
    line-height: $grid-pad;
    position: absolute;
    top: 0;
  }
}

.slick-next {
  right: $grid-pad;

  &:before {
    content: "›";
  }
}

.slick-prev {
  left: $grid-pad;

  &:before {
    content: "‹";
  }
}

.slick-slider img {
  height: auto;
  max-width: 100%;
}

.slick-dots {
  list-style: none;
  padding: 0;
  text-align: center;
}

.slick-dots li {
  cursor: pointer;
  display: inline-block;
  height: $grid-pad;
  margin: 0 5px;
  position: relative;
  width: $grid-pad;
}

.slick-dots button {
  border: 0;
  background: transparent;
  display: block;
  height: $grid-pad;
  width: $grid-pad;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  position: absolute;

  &:before {
    content: "•";
    font-size: $base-font-size;
    line-height: $grid-pad;
    width: $grid-pad;
    height: $grid-pad;
    color: $light-grey;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.slick-active button:before {
 color: $text-color;
}
